<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Auth</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <link href="/css/horror.css" rel="stylesheet"/>
</head>

<body>

<div class="page-header login-header">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-6">
            <div class="card card-signup" th:fragment="login">
                <form class="form" method="POST" th:action="@{/login}">
                    <div class="header header-primary text-center">
                        <h4 class="card-title">Betpower Admin Area</h4>
                    </div>
                    <p class="description text-center">Log in</p>
                    <div class="content">

                        <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">face</i>
									</span>
                            <div class="form-group is-empty"><input name="username" class="form-control"
                                                                    placeholder="Username..." type="text"/><span
                                    class="material-input"></span></div>
                        </div>

                        <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
                            <div class="form-group is-empty"><input name="password" placeholder="Password..."
                                                                    class="form-control" type="password"/><span
                                    class="material-input"></span></div>
                        </div>

                        <!-- If you want to add a checkbox to this form, uncomment this code

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" checked>
                                Subscribe to newsletter
                            </label>
                        </div> -->
                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-round" type="submit">Login</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>

</html>